*{
    margin:0px;
    padding:0px;
}
.container{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;

}
.box{

    width: 10rem;
    height: 10rem;

}
 .orange{
    background-color:orange;

}
.red{
    background-color:red;
}
.purple{
    background-color:blueviolet;
}
